
<!DOCTYPE html>
<html class="wide wow-animation" lang="en">
<head>
    <title>Home</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, height=device-height, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link rel="icon" href="~/ClientContent/images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" type="text/css" href="~/ClientContent/FontFamily.css">
    <link rel="stylesheet" href="~/ClientContent/css/bootstrap.css">
    <link rel="stylesheet" href="~/ClientContent/css/fonts.css">
    <link rel="stylesheet" href="~/ClientContent/css/style.css">
    <style>
        .ie-panel {
            display: none;
            background: #212121;
            padding: 10px 0;
            box-shadow: 3px 3px 5px 0 rgba(0,0,0,.3);
            clear: both;
            text-align: center;
            position: relative;
            z-index: 1;
        }

        html.ie-10 .ie-panel, html.lt-ie-10 .ie-panel {
            display: block;
        }
    </style>
</head>
<body>
    <div class="ie-panel"><a href="http://windows.microsoft.com/en-US/internet-explorer/"><img src="~/ClientContent/images/ie8-panel/warning_bar_0000_us.jpg" height="42" width="820" alt="You are using an outdated browser. For a faster, safer browsing experience, upgrade for free today."></a></div>
    <div class="preloader">
        <div class="preloader-body">
            <div class="loader">
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
                <div></div>
            </div>
            <p>Loading...</p>
        </div>
    </div>
    <div class="page">
        <header class="section page-header rd-navbar-transparent-wrap">
            <!--RD Navbar-->
            <div class="rd-navbar-wrap" style="height: 44.2969px;">
                <nav class="rd-navbar rd-navbar-transparent rd-navbar-original rd-navbar-static" data-layout="rd-navbar-fixed" data-sm-layout="rd-navbar-fixed" data-md-layout="rd-navbar-fixed" data-md-device-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-device-layout="rd-navbar-static" data-xl-layout="rd-navbar-static" data-xl-device-layout="rd-navbar-static" data-lg-stick-up-offset="44px" data-xl-stick-up-offset="44px" data-xxl-stick-up-offset="44px" data-lg-stick-up="true" data-xl-stick-up="true" data-xxl-stick-up="true">
                    <div class="rd-navbar-collapse-toggle rd-navbar-fixed-element-1 toggle-original" data-rd-navbar-toggle=".rd-navbar-collapse"><span></span></div>
                    <div class="rd-navbar-aside-outer rd-navbar-collapse toggle-original-elements">
                        <div class="rd-navbar-aside">
                            <div class="rd-navbar-info">
                                <div class="icon novi-icon mdi mdi-phone"></div><a href="tel:+1 780-466-4243">+1 780-466-4243</a>
                            </div>
                            <ul class="list-lined">
                                @*@if (Session["UserId"] != null)
                                    {
                                        <li class="rd-nav-item">
                                            <label>@Session["FirstName"] @Session["LastName"]</label>
                                        </li>
                                    }
                                    @if (Session["UserId"] == null)
                                    {
                                        <li><a href="/Client/client_login">Log in</a></li>
                                    }
                                    else
                                    {
                                        <li><a href="@Url.Action("LogOut","Client")">Log Out</a></li>
                                    }*@

                                @*<li><a href="#">Create an account</a></li>*@
                            </ul>
                        </div>
                    </div>
                    <div class="rd-navbar-main-outer">
                        <div class="rd-navbar-main-inner">
                            <div class="rd-navbar-main">
                                <!--RD Navbar Panel-->
                                <div class="rd-navbar-panel">
                                    <!--RD Navbar Toggle-->
                                    <button class="rd-navbar-toggle toggle-original" data-rd-navbar-toggle=".rd-navbar-nav-wrap"><span></span></button>
                                    <!--RD Navbar Brand-->
                                    <div class="rd-navbar-brand">
                                        <!--Brand--><a class="brand" href="@Url.Action("Index","Client")">
                                            <img class="brand-logo-dark" src="../ClientContent/images/Resizeimage3.png" alt="" width="120" height="22">
                                            <img class="brand-logo-light" src="../ClientContent/images/newlogo2.png" alt="" width="120" height="22">
                                        </a>
                                    </div>
                                </div>
                                <div class="rd-navbar-main-element">
                                    <div class="rd-navbar-nav-wrap toggle-original-elements">
                                        <ul class="rd-navbar-nav">
                                            @if (Session["UserId"] != null)
                                            {
                                                <li class="rd-nav-item">
                                                    <a class="rd-nav-link" href="@Url.Action("client_dashboard","Client")">Dashboard</a>
                                                </li>
                                            }
                                            else
                                            {
                                                <li class="rd-nav-item">
                                                    <a class="rd-nav-link" href="@Url.Action("Index","Client")">Home</a>
                                                </li>
                                            }

                                            <li class="rd-nav-item">
                                                <a class="rd-nav-link" href="@Url.Action("AboutUs","Client")">About Us</a><span class=""></span>
                                                @*<ul class="rd-menu rd-navbar-dropdown">
                                                        <li class="rd-dropdown-item">
                                                            <a class="rd-dropdown-link" href="#">Our story</a>
                                                        </li>
                                                        <li class="rd-dropdown-item">
                                                            <a class="rd-dropdown-link" href="#">Certifications &amp; Memberships</a>
                                                        </li>
                                                        <li class="rd-dropdown-item">
                                                            <a class="rd-dropdown-link" href="#">Team</a>
                                                        </li>
                                                    </ul>*@
                                            </li>
                                            <li class="rd-nav-item">
                                                <a class="rd-nav-link" href="@Url.Action("services","Client")">Services</a><span class=""></span>
                                                @*<ul class="rd-menu rd-navbar-megamenu rd-navbar-open-right">
                                                        <li class="rd-megamenu-item">

                                                            <h6 class="rd-megamenu-title">Personal</h6>
                                                            <ul class="rd-megamenu-list">
                                                                <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="#">Personal Tax Return</a></li>
                                                                <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="#">Self Employed</a></li>
                                                                <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="#">Tax Benefits</a></li>
                                                            </ul>
                                                        </li>
                                                        <li class="rd-megamenu-item">
                                                            <h6 class="rd-megamenu-title">Corporate</h6>
                                                            <ul class="rd-megamenu-list">
                                                                <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="#">Business Tax Return</a></li>
                                                                <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="#">Payroll</a></li>
                                                                <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="#">Book Keeping</a></li>
                                                                <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="#">GST Filing</a></li>
                                                                <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="#">Financial Statement</a></li>
                                                                <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="#">Audit Reviews</a></li>
                                                            </ul>
                                                        </li>

                                                        <li class="rd-megamenu-item">
                                                            <h6 class="rd-megamenu-title">Advisory</h6>
                                                            <ul class="rd-megamenu-list">
                                                                <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="#">Financial Advise</a></li>
                                                                <li class="rd-megamenu-list-item"><a class="rd-megamenu-list-link" href="#">Tax Planning</a></li>
                                                            </ul>
                                                        </li>
                                                    </ul>*@
                                            </li>
                                            @*<li class="rd-nav-item rd-navbar--has-dropdown rd-navbar-submenu">
                                                    <a class="rd-nav-link" href="#">Services</a><span class=""></span>
                                                    <ul class="rd-menu rd-navbar-dropdown">
                                                        <li class="rd-dropdown-item">
                                                            <a class="rd-dropdown-link" href="#">Accounting Services</a>
                                                        </li>
                                                        <li class="rd-dropdown-item">
                                                            <a class="rd-dropdown-link" href="#">Tax Services</a>
                                                        </li>
                                                        <li class="rd-dropdown-item">
                                                            <a class="rd-dropdown-link" href="#">Other services</a>
                                                        </li>
                                                        <li class="rd-dropdown-item">
                                                            <a class="rd-dropdown-link" href="#">Make a payment</a>
                                                        </li>
                                                    </ul>
                                                </li>*@
                                            @*<li class="rd-nav-item rd-navbar--has-dropdown rd-navbar-submenu">
                                                    <a class="rd-nav-link" href="blog.html">Blog</a><span class=""></span>
                                                    <ul class="rd-menu rd-navbar-dropdown">
                                                        <li class="rd-dropdown-item">
                                                            <a class="rd-dropdown-link" href="single-post.html">Single post</a>
                                                        </li>
                                                    </ul>
                                                </li>*@

                                            <li class="rd-nav-item">
                                                <a class="rd-nav-link" href="@Url.Action("ContactUs","Client")">Contact Us</a>
                                            </li>
                                            @if (Session["UserId"] == null)
                                            {
                                                <li class="rd-nav-item">
                                                    <a class="rd-nav-link" href="@Url.Action("FilePersonalTax","Client")">File Personal Tax</a>
                                                </li>
                                            }

                                            @*<li class="rd-nav-item">
                                                    <a class="rd-nav-link" href="@Url.Action("RequestPhoneCall","Client")">Request a Phone Call</a>
                                                </li>*@
                                            @if (Session["UserId"] != null)
                                            {
                                                <li class="rd-nav-item">
                                                    <a class="rd-nav-link" href="@Url.Action("client_changepassword","Client",new { UserId = Convert.ToInt32(Session["UserId"])})">Change Password</a>
                                                </li>
                                            }
                                            @if (Session["UserId"] != null)
                                            {
                                                <li class="rd-nav-item">
                                                    <label class="rd-nav-link">Hi @Session["FirstName"] @Session["LastName"]</label>
                                                </li>
                                            }
                                            @if (Session["UserId"] == null)
                                            {
                                                <li class="rd-nav-item"><a class="rd-nav-link" href="/Client/client_login">Client Login</a></li>
                                            }
                                            else
                                            {
                                                <li class="rd-nav-item"><a class="rd-nav-link" href="@Url.Action("LogOut","Client")">Log Out</a></li>
                                            }

                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </nav>
            </div>
            @if (ViewBag.IMG != "Home")
            {
                <div class="rd-navbar-bg novi-background bg-image" style="background-image: url(../ClientContent/images/bg-navbar.jpg)"></div>
            }

        </header>
        @RenderBody()
        <footer class="section footer-classic">
            <div class="footer-inner-1">
                <div class="container">
                    <div class="row row-40">
                        <div class="col-md-5 col-lg-3">
                            <h5>Address</h5>
                            <ul class="contact-list font-weight-bold">
                                <li>
                                    <div class="unit unit-spacing-xs">
                                        <div class="unit-left">
                                            <div class="icon icon-sm icon-primary novi-icon mdi mdi-map-marker"></div>
                                        </div>
                                        <div class="unit-body"><a href="#">#203-9613 41 AVE NW<br>Edmonton, Alberta<br /> T6E 5X7</a></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="unit unit-spacing-xs">
                                        <div class="unit-left">
                                            <div class="fa fa-1x-before fa-fax icons-blue" style="color: #516ca9;"></div>
                                        </div>
                                        <div class="unit-body"><a href="tel:+1 780-466-7898">+1 780-466-7898</a></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="unit unit-spacing-xs">
                                        <div class="unit-left">
                                            <div class="icon icon-sm icon-primary novi-icon mdi mdi-phone"></div>
                                        </div>
                                        <div class="unit-body"><a href="tel:+1 780-466-4243">+1 780-466-4243</a></div>
                                    </div>
                                </li>
                                <li>
                                    <div class="unit unit-spacing-xs">
                                        <div class="unit-left">
                                            <div class="icon icon-sm icon-primary novi-icon mdi mdi-clock"></div>
                                        </div>
                                        <div class="unit-body">
                                            <ul class="list-0">
                                                <li>Monday to Friday: 9 AM–5 PM</li>
                                                <li>Saturday Sunday: Closed</li>
                                            </ul>
                                        </div>
                                    </div>
                                </li>
                            </ul><a class="d-inline-block big" href="mailto:Tax@pablastax.com">Tax@pablastax.com</a>
                        </div>
                        <div class="col-md-6 col-lg-5">
                            <h5>Links</h5>
                            <div class="row row-5 justify-content-between">
                                <div class="col-sm-6">
                                    <ul class="footer-list big">
                                        <li><a href="https://www.canada.ca/en/revenue-agency.html" target="_blank">Canada Revenue Agency</a></li>
                                        <li><a href="https://www.canada.ca/en/services/taxes/income-tax.html" target="_blank">INCOME TAX</a></li>
                                        <li><a href="https://www.canada.ca/en/revenue-agency/services/tax/businesses/topics/gst-hst-businesses.html" target="_blank">GST/HST</a></li>
                                        <li><a href="https://www.canada.ca/en/revenue-agency/services/tax/businesses/topics/payroll.html" target="_blank">Payroll</a></li>
                                        <li><a href="https://www.canada.ca/en/employment-social-development/corporate/portfolio/service-canada.html" target="_blank">Service Canada</a></li>
                                        <li><a href="https://www.canada.ca/en/services/taxes/child-and-family-benefits.html" target="_blank">Child and family benefits</a></li>
                                        <li><a href="https://apps.cra-arc.gc.ca/ebci/fppp/mypymnt/pub/ntr.action?request_locale=en_CA" target="_blank">CRA Make a Payment</a></li>
                                    </ul>
                                </div>
                                @*<div class="col-sm-4 col-lg-6 col-xxl-5">
                                        <ul class="footer-list big">
                                            <li><a href="https://www.canada.ca/en/employment-social-development/corporate/portfolio/service-canada.html" target="_blank">Service Canada</a></li>
                                            <li><a href="https://www.canada.ca/en/services/taxes/child-and-family-benefits.html" target="_blank">Child and family benefits</a></li>
                                            <li><a href="https://apps.cra-arc.gc.ca/ebci/fppp/mypymnt/pub/ntr.action?request_locale=en_CA" target="_blank">CRA Make a Payment</a></li>
                                        </ul>
                                    </div>*@
                            </div>
                        </div>
                        <div class="col-md-12 col-lg-4">
                            <h5>Partners</h5>

                            <div class="row row-30 align-items-center text-center">
                                <div class="col-6 col-md-4 col-lg-6"><a class="link-image" href="#"><img src="~/ClientContent/images/newpartner1.png" alt="" width="144" height="35" /></a></div>
                                <div class="col-6 col-md-4 col-lg-6"></div>
                                <div class="col-6 col-md-4 col-lg-6"><a class="link-image" href="#"><img src="~/ClientContent/images/newpartner2.png" alt="" width="121" height="34" /></a></div>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-inner-2">
                <div class="container">
                    <p class="rights"><span>Costrax</span><span>&nbsp;</span><span>&copy;&nbsp; </span><span class="copyright-year"></span><span>.&nbsp;</span><a href="privacy-policy.html">Privacy Policy</a>. Design&nbsp;by&nbsp;<a href="https://zemez.io/">Zemez</a></p>
                </div>
            </div>
        </footer>
    </div>
    <div class="snackbars" id="form-output-global"></div>
    <link href="~/Content/css/AdminStyle.css" rel="stylesheet" />
    <script src="~/ClientContent/js/core.min.js"></script>
    <script src="~/ClientContent/js/script.js"></script>
    <script src="~/Content/plugins/datatables/jquery.dataTables.js"></script>
    <link href="~/Content/plugins/datatables-bs4/css/dataTables.bootstrap4.css" rel="stylesheet" />

    <link href="~/Content/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css" rel="stylesheet" />
    <script src="~/Content/plugins/datatables-bs4/js/dataTables.bootstrap4.js"></script>



    <script src="~/ClientContent/js/bootstrap-datepicker.js"></script>
</body>
</html>