@model PablaAccountingAndTaxServicesDLL.DataAccess.tblUser
@{
    ViewBag.Title = "client_login";
    Layout = "~/Views/Shared/_ClientLayout.cshtml";
}

<section class="breadcrumbs-custom bg-image novi-background bg-primary">
    <div class="container">
        <ul class="breadcrumbs-custom-path">
            <li><a href="\Client\client_login">Client Login</a></li>

        </ul>
    </div>
</section>
<!-- Log In-->
<section class="section section-lg bg-default">
    <div class="container">
        @if (!string.IsNullOrEmpty(ViewBag.Message))
        {
            <h6 style="color:red;text-align:center;">@ViewBag.Message</h6>
        }
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-9 col-lg-7 col-xl-6">
                <h3 style="text-align: center">Pabla Accounting Client Login</h3>
                @*<div class="group-sm group-middle group-custom"><a class="button button-facebook" href="#"> Facebook</a><a class="button button-twitter" href="#"> Twitter</a><a class="button button-google" href="#"> Google+</a></div>*@
                <div class="custom-form-wrap">
                    @*<div class="heading-5">or</div>*@
                    <!--RD Mailform-->
                    <form class="rd-form text-right" method="post" action="\Client\client_login" id="Login">
                        <div class="form-wrap form-group">
                            <input class="form-input form-control-has-validation" id="login-email" type="email" name="UserName" placeholder="E-mail"><span class="form-validation"></span>
                            @*<label class="form-label rd-input-label" for="login-email">E-mail</label>*@
                        </div>
                        <div class="form-wrap form-group">
                            <input class="form-input form-control-has-validation" id="login-password" type="password" name="Password" placeholder="Password"><span class="form-validation"></span>
                            @*<label class="form-label rd-input-label" for="login-password">Password</label>*@
                        </div>
                        
                        <a style="float:left" href="~/Client/client_forgotpassword">Forgot Password</a>
                        <button class="button button-primary" value="Login" type="submit">Login</button>

                    </form>
                </div>

            </div>
        </div>
    </div>
</section>
@*<section class="section section-lg bg-default">

    <div class="container">
        @if (!string.IsNullOrEmpty(ViewBag.Message))
        {
            <h6 style="color:red;">@ViewBag.Message</h6>
        }
        <div class="row">
            <div class="col-md-9 col-lg-7 col-xl-6">
                <h3>Log In</h3>
                <div class="group-sm group-middle group-custom"><a class="button button-facebook" href="#"> Facebook</a><a class="button button-twitter" href="#"> Twitter</a><a class="button button-google" href="#"> Google+</a></div>
                <div class="custom-form-wrap">
                    <div class="heading-5">or</div>
                   
                    @using (Html.BeginForm("client_login", "Client", FormMethod.Post, new { @class = "rd-form text-right" }))
                    {
                        @Html.AntiForgeryToken()
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-wrap form-group">
                            @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { name = "UserName", @class = "form-input", @placeholder = "Email Address" } })
                            @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                        </div>
                        <div class="form-wrap form-group">
                            @Html.EditorFor(model => model.Password, new { htmlAttributes = new { name = "Password", @class = "form-input", @placeholder = "Password", @type = "password" } })
                            @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                        </div>
                        <input type="submit" value="Login" class="button button-primary" />
                    }
                </div>

            </div>
        </div>
    </div>
</section>*@
<script src="~/Content/plugins/jquery/jquery.min.js"></script>
<script src="~/Content/plugins/jquery-validation/jquery.validate.min.js"></script>
<script type="text/javascript">

    $('#Login').validate({
        rules: {
            UserName: {
                required: true,
                email: true,
            },
            Password: {
                required: true,
                //minlength: 5
            },
            //terms: {
            //    required: true
            //},
        },
        messages: {
            UserName: {
                required: "Please enter a email address",
                email: "Please enter a vaild email address"
            },
            Password: {
                required: "Please enter a password",
                //minlength: "Your password must be at least 8 characters long"
            },
            //terms: "Please accept our terms"
        },
        errorElement: 'span',
        errorPlacement: function (error, element) {
            error.addClass('invalid-feedback');
            element.closest('.form-group').append(error);
        },
        highlight: function (element, errorClass, validClass) {
            $(element).addClass('is-invalid');
        },
        unhighlight: function (element, errorClass, validClass) {
            $(element).removeClass('is-invalid');
        }
    });

    function test() {
        window.location.href = "/Client/Client_Dashboard";
    }
</script>
