@model PablaAccountingAndTaxServicesEntity.ClientEntity
@{
    ViewBag.Title = "Client_Dashboard";
    Layout = "~/Views/Shared/_ClientLayout.cshtml";
}
<style>
    .table-custom th {
        padding:10px 10px 15px!important;
    }

</style>
<section class="breadcrumbs-custom bg-image novi-background bg-primary">
    <div class="container">
        <ul class="breadcrumbs-custom-path">
            <li><a href="~/Client/client_login">Client</a></li>
            <li><a href="~/Client/client_dashboard">Client Dashboard</a></li>
          
        </ul>
    </div>
</section>
<section class="section section-lg bg-default" style="padding: 30px;">
    <div class="container">

        <div class="content-wrapper">
            <div class="row">
                <div class="col-xl-9">
                    <h5>Clients Dashboard</h5>
                    <!--Bootstrap tabs-->
                    <div class="tabs-custom tabs-horizontal tabs-corporate" id="tabs-1">
                        <!--Nav tabs-->
                        <ul class="nav nav-tabs">
                            <li class="nav-item" role="presentation"><a class="nav-link active show" href="#tabs-1-1" data-toggle="tab">Profile</a></li>
                            <li class="nav-item" role="presentation"><a class="nav-link " href="#tabs-1-2" data-toggle="tab">Requested Documents</a></li>
                            <li class="nav-item" role="presentation"><a class="nav-link" href="#tabs-1-3" data-toggle="tab">View Requested</a></li>
                            <li class="nav-item" role="presentation"><a class="nav-link" href="#tabs-1-4" data-toggle="tab">Documents</a></li>
                        </ul>
                        <!--Tab panes-->
                        <div class="tab-content">
                            <div class="tab-pane fade active show" id="tabs-1-1">
                                <div class="card-body">
                                    <div class="col-md-6" style="float:left;">
                                        <div class="form-row" style="margin-bottom: -10px;">
                                            <div class="col-md-4 mb-3" style="padding-left:5px;">

                                                <label for="showEasing"><strong>First Name</strong></label>

                                            </div>
                                            <div class="col-md-6 mb-3" style="overflow:auto;">
                                                <label for="showEasing" style="width:100%;font-weight: normal!important">@Model.FirstName</label>
                                            </div>
                                        </div>
                                        <div class="form-row" style="margin-bottom: -10px;">
                                            <div class="col-md-4 mb-3" style="padding-left:5px;">

                                                <label for="showEasing"><strong>Last Name</strong></label>

                                            </div>
                                            <div class="col-md-6 mb-3" style="overflow:auto;">

                                                <label for="showEasing" style="width:100%;font-weight: normal!important">@Model.LastName</label>

                                            </div>


                                        </div>
                                        <div class="form-row" style="margin-bottom: -10px;">
                                            <div class="col-md-4 mb-3" style="padding-left:5px;">

                                                <label for="showEasing"><strong>Phone</strong></label>

                                            </div>
                                            <div class="col-md-6 mb-3" style="overflow:auto;">

                                                <label for="showEasing" style="width:100%;font-weight: normal!important">@Model.MobileNo</label>

                                            </div>


                                        </div>
                                        <div class="form-row" style="margin-bottom: -10px;">
                                            <div class="col-md-4 mb-3" style="padding-left:5px;">

                                                <label for="showEasing"><strong>Email</strong></label>

                                            </div>
                                            <div class="col-md-6 mb-3" style="overflow:auto;">

                                                <label for="showEasing" style="width:100%;font-weight: normal">@Model.Email</label>

                                            </div>


                                        </div>
                                        <div class="form-row" style="margin-bottom:-10px">
                                            <div class="col-md-4 mb-3" style="padding-left:5px;">

                                                <label for="showEasing"><strong>SIN</strong></label>

                                            </div>
                                            <div class="col-md-6 mb-3" style="overflow:auto;">

                                                <label for="showEasing" style="width:100%;font-weight: normal!important">@Model.SIN</label>

                                            </div>


                                        </div>
                                        <div class="form-row form-group">
                                            <div class="col-md-4 mb-3" style="padding-left:5px;">

                                                <label for="showEasing"><strong>Date Of Birth</strong></label>

                                            </div>
                                            <div class="col-md-6 mb-3" style="overflow:auto;">

                                                <label for="showEasing" style="width:100%;font-weight: normal!important">@Model.DateOfBirth</label>

                                            </div>


                                        </div>

                                        <div class="form-row" style="margin-bottom: -10px;">
                                            <div class="col-md-4 mb-3" style="padding-left:5px;">

                                                <label for="showEasing"><strong>Company Name</strong></label>

                                            </div>
                                            <div class="col-md-6 mb-3" style="overflow:auto;">

                                                <label for="showEasing" style="width:100%;font-weight: normal!important">@Model.CompanyName</label>

                                            </div>


                                        </div>
                                        <div class="form-row" style="margin-bottom: -10px;">
                                            <div class="col-md-4 mb-3" style="padding-left:5px;">

                                                <label for="showEasing"><strong>GST Number</strong></label>

                                            </div>
                                            <div class="col-md-6 mb-3" style="overflow:auto;">

                                                <label for="showEasing" style="width:100%;font-weight: normal!important">@Model.GSTNumber</label>

                                            </div>


                                        </div>
                                        <div class="form-row" style="margin-bottom: -10px;">
                                            <div class="col-md-4 mb-3" style="padding-left:5px;">

                                                <label for="showEasing"><strong>WCB</strong></label>

                                            </div>
                                            <div class="col-md-6 mb-3" style="overflow:auto;">

                                                <label for="showEasing" style="width:100%;font-weight: normal!important">@Model.WCB</label>

                                            </div>


                                        </div>
                                    </div>

                                    <div class="col-md-6" style="float:left;">
                                        <div class="form-row" style="margin-bottom: -10px;">
                                            <div class="col-md-4 mb-3" style="padding-left:5px;">

                                                <label for="showEasing"><strong>Address</strong></label>

                                            </div>
                                            <div class="col-md-6 mb-3" style="overflow:auto;">

                                                <label for="showEasing" style="width:100%;font-weight: normal!important">@Model.Address</label>

                                            </div>
                                        </div>
                                        <div class="form-row" style="margin-bottom: -10px;">
                                            <div class="col-md-4 mb-3" style="padding-left:5px;">

                                                <label for="showEasing"><strong>City</strong></label>

                                            </div>
                                            <div class="col-md-6 mb-3" style="overflow:auto;">

                                                <label for="showEasing" style="width:100%;font-weight: normal!important">@Model.City</label>

                                            </div>
                                        </div>

                                        <div class="form-row" style="margin-bottom: -10px;">
                                            <div class="col-md-4 mb-3" style="padding-left:5px;">

                                                <label for="showEasing"><strong>Province</strong></label>

                                            </div>
                                            <div class="col-md-6 mb-3" style="overflow:auto;">

                                                <label for="showEasing" style="width:100%;font-weight: normal!important">@Model.Province</label>

                                            </div>

                                        </div>
                                        <div class="form-row" style="margin-bottom: -10px;">
                                            <div class="col-md-4 mb-3" style="padding-left:5px;">

                                                <label for="showEasing"><strong>Country</strong></label>

                                            </div>
                                            <div class="col-md-6 mb-3" style="overflow:auto;">

                                                <label for="showEasing" style="width:100%;font-weight: normal!important">@Model.Country</label>

                                            </div>

                                        </div>
                                        <div class="form-row" style="margin-bottom: -10px;">
                                            <div class="col-md-4 mb-3" style="padding-left:5px;">

                                                <label for="showEasing"><strong>Postal Code</strong></label>

                                            </div>
                                            <div class="col-md-6 mb-3" style="overflow:auto;">

                                                <label for="showEasing" style="width:100%;font-weight: normal!important">@Model.PostalCode</label>

                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade " id="tabs-1-2">
                                <p>The layout is aesthetically appealing, contains concise texts in order not to take your precious time. Text styling allows scanning the pages quickly. Site navigation is extremely intuitive and user-friendly. You will always know where you are now and will be able to skip from one page to another with a single mouse click.</p>
                                <p>We use only trusted, verified content, so you can believe every word we are saying. We are always happy to greet the new visitors on our site. Our blog and social media accounts are available to encourage communication and connection between clients and personnel and tell you more about us in the informal environments where we can have a dialogue instead of just a narrative like that.  With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page. It will tell you lots of interesting things about our company, its products and services, highly professional staff and happy customers.</p>
                            </div>
                            <div class="tab-pane fade" id="tabs-1-3">
                                <p>We sincerely hope that each and every user entering our website will find exactly what he/she is looking for. With advanced features of activating account and new login widgets, you will definitely have a great experience of using our web page. It will tell you lots of interesting things about our company, its products and services, highly professional staff and happy customers.</p>
                                <p>Our site design and navigation has been thoroughly thought out. The layout is aesthetically appealing, contains concise texts in order not to take your precious time. Text styling allows scanning the pages quickly. Site navigation is extremely intuitive and user-friendly. You will always know where you are now and will be able to skip from one page to another with a single mouse click. We use only trusted, verified content, so you can believe every word we are saying. We are always happy to greet the new visitors on our site. Our blog and social media accounts are available to encourage communication and connection between clients and personnel and tell you more about us.</p>
                            </div>
                            <div class="tab-pane fade" id="tabs-1-4">
                                <div class="table-custom-wrap table-custom-striped big">
                                    <div class="table-custom-responsive number-counter-2">
                                        <table id="example1" class="table-custom">
                                            <thead>
                                                <tr>
                                                    <th>Operation</th>
                                                    <th>Person Name</th>
                                                    <th>Document Name</th>
                                                    <th>Document Type</th>
                                                    <th>Year</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in ViewBag.TotalDocument)
                                                {
                                                    <tr>
                                                        <td class="text-gray-800">
                                                            <a href="~/Documents/@item.DocumentName.@item.Discription"><span class="info-box-icon"><i class="fa fa-eye"></i></span></a>
                                                            <a href="/Admin/DownloadFile?FileName=@item.DocumentName.@item.Discription" target="_blank"><span class="info-box-icon"><i class="fas fa-cloud-download-alt"></i></span></a>
                                                        </td>
                                                        <td class="text-gray-800">@item.PersonName</td>
                                                        <td class="text-gray-800">@item.DocumentName</td>
                                                        <td class="text-gray-800">@item.DocumentType</td>
                                                        <td class="text-gray-800">@item.Year</td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


</section>
<script src="~/Content/plugins/jquery/jquery.min.js"></script>
<script src="~/Content/plugins/bs-custom-file-input/bs-custom-file-input.min.js"></script>
<script type="text/javascript">
    $(function () {
        $("#example1").DataTable();
    });

    $(document).ready(function () {
        bsCustomFileInput.init();
    });
</script>
