@model PablaAccountingAndTaxServicesEntity.ClientEntity
@{
    ViewBag.Title = "Client_Dashboard";
    Layout = "~/Views/Shared/_ClientLayout.cshtml";
}
<style>
    .table-custom th {
        padding: 10px 10px 15px !important;
    }
</style>
<section class="breadcrumbs-custom bg-image novi-background bg-primary">
    <div class="container">
        <ul class="breadcrumbs-custom-path">
            <li><a href="~/Client/client_login">Client</a></li>
            <li><a href="~/Client/client_dashboard">Client Dashboard</a></li>

        </ul>
    </div>
</section>
<section class="section section-lg bg-default" style="padding: 30px;">
    <div class="container">

        <div class="content-wrapper">
            <div class="row">
                <div class="col-xl-12">
                    <h5>Clients Dashboard</h5>
                    <!--Bootstrap tabs-->
                    <div class="tabs-custom tabs-horizontal tabs-corporate" id="tabs-1">
                        <!--Nav tabs-->
                        <ul class="nav nav-tabs">
                            <li class="nav-item" role="presentation"><a class="nav-link active show" href="#tabs-1-1" data-toggle="tab">Profile</a></li>
                            <li class="nav-item" role="presentation"><a class="nav-link " href="#tabs-1-2" data-toggle="tab">Request Document</a></li>
                            <li class="nav-item" role="presentation"><a class="nav-link" href="#tabs-1-3" data-toggle="tab">View Requested Document</a></li>
                            <li class="nav-item" role="presentation"><a class="nav-link" href="#tabs-1-4" data-toggle="tab">Documents</a></li>
                        </ul>
                        <!--Tab panes-->
                        <div class="tab-content">
                            <div class="tab-pane fade active show" id="tabs-1-1">
                                <div class="card-body">
                                    <div class="col-md-6" style="float:left;">
                                        <div class="form-row" style="margin-bottom: -10px;">
                                            <div class="col-md-4 mb-3" style="padding-left:5px;">

                                                <label for="showEasing"><strong>First Name</strong></label>

                                            </div>
                                            <div class="col-md-6 mb-3" style="overflow:auto;">
                                                <label for="showEasing" style="width:100%;font-weight: normal!important">@Model.FirstName</label>
                                            </div>
                                        </div>
                                        <div class="form-row" style="margin-bottom: -10px;">
                                            <div class="col-md-4 mb-3" style="padding-left:5px;">

                                                <label for="showEasing"><strong>Last Name</strong></label>

                                            </div>
                                            <div class="col-md-6 mb-3" style="overflow:auto;">

                                                <label for="showEasing" style="width:100%;font-weight: normal!important">@Model.LastName</label>

                                            </div>


                                        </div>
                                        <div class="form-row" style="margin-bottom: -10px;">
                                            <div class="col-md-4 mb-3" style="padding-left:5px;">

                                                <label for="showEasing"><strong>Phone</strong></label>

                                            </div>
                                            <div class="col-md-6 mb-3" style="overflow:auto;">

                                                <label for="showEasing" style="width:100%;font-weight: normal!important">@Model.MobileNo</label>

                                            </div>


                                        </div>
                                        <div class="form-row" style="margin-bottom: -10px;">
                                            <div class="col-md-4 mb-3" style="padding-left:5px;">

                                                <label for="showEasing"><strong>Email</strong></label>

                                            </div>
                                            <div class="col-md-6 mb-3" style="overflow:auto;">

                                                <label for="showEasing" style="width:100%;font-weight: normal">@Model.Email</label>

                                            </div>


                                        </div>
                                        <div class="form-row" style="margin-bottom:-10px">
                                            <div class="col-md-4 mb-3" style="padding-left:5px;">

                                                <label for="showEasing"><strong>SIN</strong></label>

                                            </div>
                                            <div class="col-md-6 mb-3" style="overflow:auto;">

                                                <label for="showEasing" style="width:100%;font-weight: normal!important">@Model.SIN</label>

                                            </div>


                                        </div>
                                        <div class="form-row form-group">
                                            <div class="col-md-4 mb-3" style="padding-left:5px;">

                                                <label for="showEasing"><strong>Date Of Birth</strong></label>

                                            </div>
                                            <div class="col-md-6 mb-3" style="overflow:auto;">

                                                <label for="showEasing" style="width:100%;font-weight: normal!important">@Model.DateOfBirth</label>

                                            </div>


                                        </div>

                                        <div class="form-row" style="margin-bottom: -10px;">
                                            <div class="col-md-4 mb-3" style="padding-left:5px;">

                                                <label for="showEasing"><strong>Company Name</strong></label>

                                            </div>
                                            <div class="col-md-6 mb-3" style="overflow:auto;">

                                                <label for="showEasing" style="width:100%;font-weight: normal!important">@Model.CompanyName</label>

                                            </div>


                                        </div>
                                        <div class="form-row" style="margin-bottom: -10px;">
                                            <div class="col-md-4 mb-3" style="padding-left:5px;">

                                                <label for="showEasing"><strong>GST Number</strong></label>

                                            </div>
                                            <div class="col-md-6 mb-3" style="overflow:auto;">

                                                <label for="showEasing" style="width:100%;font-weight: normal!important">@Model.GSTNumber</label>

                                            </div>


                                        </div>
                                        <div class="form-row" style="margin-bottom: -10px;">
                                            <div class="col-md-4 mb-3" style="padding-left:5px;">

                                                <label for="showEasing"><strong>WCB</strong></label>

                                            </div>
                                            <div class="col-md-6 mb-3" style="overflow:auto;">

                                                <label for="showEasing" style="width:100%;font-weight: normal!important">@Model.WCB</label>

                                            </div>


                                        </div>
                                    </div>

                                    <div class="col-md-6" style="float:left;">
                                        <div class="form-row" style="margin-bottom: -10px;">
                                            <div class="col-md-4 mb-3" style="padding-left:5px;">

                                                <label for="showEasing"><strong>Address</strong></label>

                                            </div>
                                            <div class="col-md-6 mb-3" style="overflow:auto;">

                                                <label for="showEasing" style="width:100%;font-weight: normal!important">@Model.Address</label>

                                            </div>
                                        </div>
                                        <div class="form-row" style="margin-bottom: -10px;">
                                            <div class="col-md-4 mb-3" style="padding-left:5px;">

                                                <label for="showEasing"><strong>City</strong></label>

                                            </div>
                                            <div class="col-md-6 mb-3" style="overflow:auto;">

                                                <label for="showEasing" style="width:100%;font-weight: normal!important">@Model.City</label>

                                            </div>
                                        </div>

                                        <div class="form-row" style="margin-bottom: -10px;">
                                            <div class="col-md-4 mb-3" style="padding-left:5px;">

                                                <label for="showEasing"><strong>Province</strong></label>

                                            </div>
                                            <div class="col-md-6 mb-3" style="overflow:auto;">

                                                <label for="showEasing" style="width:100%;font-weight: normal!important">@Model.Province</label>

                                            </div>

                                        </div>
                                        <div class="form-row" style="margin-bottom: -10px;">
                                            <div class="col-md-4 mb-3" style="padding-left:5px;">

                                                <label for="showEasing"><strong>Country</strong></label>

                                            </div>
                                            <div class="col-md-6 mb-3" style="overflow:auto;">

                                                <label for="showEasing" style="width:100%;font-weight: normal!important">@Model.Country</label>

                                            </div>

                                        </div>
                                        <div class="form-row" style="margin-bottom: -10px;">
                                            <div class="col-md-4 mb-3" style="padding-left:5px;">

                                                <label for="showEasing"><strong>Postal Code</strong></label>

                                            </div>
                                            <div class="col-md-6 mb-3" style="overflow:auto;">

                                                <label for="showEasing" style="width:100%;font-weight: normal!important">@Model.PostalCode</label>

                                            </div>

                                        </div>

                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade " id="tabs-1-2">
                                <div class="container">
                                    <div class="row justify-content-md-center justify-content-xl-start">
                                        <div class="col-md-9 col-lg-7 col-xl-6">
                                            <h2 class="font-weight-normal">Request Document</h2>


                                            <form class="" action="\Client\RequestDocumentByClient" method="post">
                                                <input type="hidden" id="UserId" value="@Model.UserId" name="UserId" />
                                                <div class="form-wrap">
                                                    <select class="form-input form-control-has-validation" name="DocumentType">
                                                        <option selected="" disabled="">Document Type</option>
                                                        <option>Notice Of Assessment</option>
                                                        <option>T1 General</option>
                                                        <option>T4's</option>
                                                        <option>T4 Summary</option>
                                                        <option>T5</option>
                                                        <option>Financials</option>
                                                        <option>T2</option>
                                                        <option>T2 Notice of Assessment</option>
                                                        <option>Paystubs</option>
                                                        <option>Schedule 100-125</option>
                                                        <option>PD7 A</option>
                                                        <option>Job letter</option>
                                                        <option>GST</option>
                                                    </select>
                                                </div>
                                                <div class="form-wrap">
                                                    <select class="form-input form-control-has-validation" name="Year">
                                                        <option selected="" disabled="">Select Year</option>
                                                        <option>2011</option>
                                                        <option>2012</option>
                                                        <option>2013</option>
                                                        <option>2014</option>
                                                        <option>2015</option>
                                                        <option>2016</option>
                                                        <option>2017</option>
                                                        <option>2018</option>
                                                        <option>2019</option>
                                                        <option>2020</option>
                                                        <option>2021</option>
                                                        <option>2022</option>
                                                        <option>2023</option>
                                                        <option>2024</option>
                                                        <option>2025</option>
                                                        <option>2026</option>
                                                        <option>2027</option>
                                                        <option>2028</option>
                                                        <option>2029</option>
                                                        <option>2030</option>
                                                    </select>
                                                </div>
                                                <div class="form-wrap">
                                                    <select class="form-input form-control-has-validation" name="PersonName">
                                                        <option selected="" disabled="">Person Name</option>
                                                        <option>Sahil </option>
                                                        <option>Anuj</option>
                                                        <option>Others</option>
                                                    </select>
                                                </div>
                                                <div class="form-wrap">
                                                    <textarea class="form-input form-control-has-validation" name="Description" id="request-description"></textarea>
                                                    <label class="form-label rd-input-label" for="request-description">Description</label>
                                                </div>
                                                <div class="button-link-wrap text-right">
                                                    <button class="button button-primary" type="submit">Submit</button>
                                                </div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="tabs-1-3">
                                <div class="table-custom-wrap table-custom-striped big">
                                    <div class="table-custom-responsive number-counter-2">
                                        <table id="Requestedexample1" class="table-custom">
                                            <thead>
                                                <tr>
                                                    <th>Operation</th>
                                                    <th>Document Type</th>
                                                    <th>Year</th>
                                                    <th>Person</th>
                                                    <th>Description</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <tr>
                                                    @foreach (var item in ViewBag.Request)
                                                    {

                                                        <td>
                                                            <a class="btn btn-danger btn-sm" href="#" onclick="Delete(@item.UserId);">
                                                                <i class="fas fa-trash">
                                                                </i>
                                                            </a>
                                                        </td>
                                                        <td>@item.DocumentType</td>
                                                        <td>@item.Year</td>
                                                        <td>@item.PersonName</td>
                                                        <td>@item.Description</td>
                                                    }
                                                </tr>
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                            <div class="tab-pane fade" id="tabs-1-4">
                                <div class="table-custom-wrap table-custom-striped big">
                                    <div class="table-custom-responsive number-counter-2">
                                        <table id="example1" class="table-custom">
                                            <thead>
                                                <tr>
                                                    <th>Operation</th>
                                                    <th>Person Name</th>
                                                    <th>Document Name</th>
                                                    <th>Document Type</th>
                                                    <th>Year</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in ViewBag.TotalDocument)
                                                {
                                                    <tr>
                                                        <td class="text-gray-800">
                                                            <a href="~/Documents/@item.DocumentName.@item.Discription"><span class="info-box-icon"><i class="fa fa-eye"></i></span></a>
                                                            <a href="/Admin/DownloadFile?FileName=@item.DocumentName.@item.Discription" target="_blank"><span class="info-box-icon"><i class="fas fa-cloud-download-alt"></i></span></a>
                                                        </td>
                                                        <td class="text-gray-800">@item.PersonName</td>
                                                        <td class="text-gray-800">@item.DocumentName</td>
                                                        <td class="text-gray-800">@item.DocumentType</td>
                                                        <td class="text-gray-800">@item.Year</td>
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>


</section>
<script src="~/Content/plugins/jquery/jquery.min.js"></script>
<script src="~/Content/plugins/bs-custom-file-input/bs-custom-file-input.min.js"></script>
<script type="text/javascript">
    //$(function () {
    //    $("#example1").DataTable();
    //});

    $(document).ready(function () {
        bsCustomFileInput.init();
    });
</script>
<script>
    function Delete(UserId) {
        Swal.fire({
            title: 'Are you sure?',
            text: "You won't be able to revert this!",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonColor: '#3085d6',
            cancelButtonColor: '#d33',
            confirmButtonText: 'Yes, delete it!'
        }).then((result) => {
            if (result.isConfirmed) {
                window.location.href = "/Client/DeleteRequest?UserId=" + UserId

            }
        })
    }
</script>
