@model PablaAccountingAndTaxServicesEntity.ClientEntity
@{
    ViewBag.Title = "client_view";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
@{
    var PersonName = new SelectList(ViewBag.PersonName, "Text", "Value");
}

<section class="content header">

    <!-- Default box -->
    <div class="card">
        <div class="card-header card_color" style="padding-top: 1px;
    padding-bottom: 1px;">
            <div class="col-md-12">
                <div class="col-md-6">
                    <h3 class="card-title" style="color: white;padding-top:16px;">Personal Information</h3>
                </div>
                <div class="col-md-6" style="float:right;margin-top: 7px;">
                    <a href="/Admin/client" class="btn btn_a" style="float: right;font-size:15px;">
                        Back to client
                    </a>
                </div>
            </div>



        </div>
        <div class="card-body">
            <div class="col-md-6" style="float:left;">
                <div class="form-row" style="margin-bottom: -10px;">
                    <div class="col-md-4 mb-3" style="padding-left:5px;">

                        <label for="showEasing"><strong>First Name</strong></label>

                    </div>
                    <div class="col-md-6 mb-3" style="overflow:auto;">
                        <label for="showEasing" style="width:100%;font-weight: normal!important">@Model.FirstName</label>
                    </div>
                </div>
                <div class="form-row" style="margin-bottom: -10px;">
                    <div class="col-md-4 mb-3" style="padding-left:5px;">

                        <label for="showEasing"><strong>Last Name</strong></label>

                    </div>
                    <div class="col-md-6 mb-3" style="overflow:auto;">

                        <label for="showEasing" style="width:100%;font-weight: normal!important">@Model.LastName</label>

                    </div>


                </div>
                <div class="form-row" style="margin-bottom: -10px;">
                    <div class="col-md-4 mb-3" style="padding-left:5px;">

                        <label for="showEasing"><strong>Phone</strong></label>

                    </div>
                    <div class="col-md-6 mb-3" style="overflow:auto;">

                        <label for="showEasing" style="width:100%;font-weight: normal!important">@Model.MobileNo</label>

                    </div>


                </div>
                <div class="form-row" style="margin-bottom: -10px;">
                    <div class="col-md-4 mb-3" style="padding-left:5px;">

                        <label for="showEasing"><strong>Email</strong></label>

                    </div>
                    <div class="col-md-6 mb-3" style="overflow:auto;">

                        <label for="showEasing" style="width:100%;font-weight: normal">@Model.Email</label>

                    </div>


                </div>
                <div class="form-row" style="margin-bottom:-10px">
                    <div class="col-md-4 mb-3" style="padding-left:5px;">

                        <label for="showEasing"><strong>SIN</strong></label>

                    </div>
                    <div class="col-md-6 mb-3" style="overflow:auto;">

                        <label for="showEasing" style="width:100%;font-weight: normal!important">@Model.SIN</label>

                    </div>


                </div>
                <div class="form-row form-group">
                    <div class="col-md-4 mb-3" style="padding-left:5px;">

                        <label for="showEasing"><strong>Date Of Birth</strong></label>

                    </div>
                    <div class="col-md-6 mb-3" style="overflow:auto;">

                        <label for="showEasing" style="width:100%;font-weight: normal!important">@Model.DateOfBirth</label>

                    </div>


                </div>

                <div class="form-row" style="margin-bottom: -10px;">
                    <div class="col-md-4 mb-3" style="padding-left:5px;">

                        <label for="showEasing"><strong>Company Name</strong></label>

                    </div>
                    <div class="col-md-6 mb-3" style="overflow:auto;">

                        <label for="showEasing" style="width:100%;font-weight: normal!important">@Model.CompanyName</label>

                    </div>


                </div>
                <div class="form-row" style="margin-bottom: -10px;">
                    <div class="col-md-4 mb-3" style="padding-left:5px;">

                        <label for="showEasing"><strong>GST Number</strong></label>

                    </div>
                    <div class="col-md-6 mb-3" style="overflow:auto;">

                        <label for="showEasing" style="width:100%;font-weight: normal!important">@Model.GSTNumber</label>

                    </div>


                </div>
                <div class="form-row" style="margin-bottom: -10px;">
                    <div class="col-md-4 mb-3" style="padding-left:5px;">

                        <label for="showEasing"><strong>Corporate Access Number</strong></label>

                    </div>
                    <div class="col-md-6 mb-3" style="overflow:auto;">

                        <label for="showEasing" style="width:100%;font-weight: normal!important">@Model.CorporateAccessNumber</label>

                    </div>


                </div>
                <div class="form-row" style="margin-bottom: -10px;">
                    <div class="col-md-4 mb-3" style="padding-left:5px;">

                        <label for="showEasing"><strong>WCB</strong></label>

                    </div>
                    <div class="col-md-6 mb-3" style="overflow:auto;">

                        <label for="showEasing" style="width:100%;font-weight: normal!important">@Model.WCB</label>

                    </div>


                </div>
            </div>

            <div class="col-md-6" style="float:left;">
                <div class="form-row" style="margin-bottom: -10px;">
                    <div class="col-md-4 mb-3" style="padding-left:5px;">

                        <label for="showEasing"><strong>Address</strong></label>

                    </div>
                    <div class="col-md-6 mb-3" style="overflow:auto;">

                        <label for="showEasing" style="width:100%;font-weight: normal!important">@Model.Address</label>

                    </div>
                </div>
                <div class="form-row" style="margin-bottom: -10px;">
                    <div class="col-md-4 mb-3" style="padding-left:5px;">

                        <label for="showEasing"><strong>City</strong></label>

                    </div>
                    <div class="col-md-6 mb-3" style="overflow:auto;">

                        <label for="showEasing" style="width:100%;font-weight: normal!important">@Model.City</label>

                    </div>
                </div>

                <div class="form-row" style="margin-bottom: -10px;">
                    <div class="col-md-4 mb-3" style="padding-left:5px;">

                        <label for="showEasing"><strong>Province</strong></label>

                    </div>
                    <div class="col-md-6 mb-3" style="overflow:auto;">

                        <label for="showEasing" style="width:100%;font-weight: normal!important">@Model.Province</label>

                    </div>

                </div>
                <div class="form-row" style="margin-bottom: -10px;">
                    <div class="col-md-4 mb-3" style="padding-left:5px;">

                        <label for="showEasing"><strong>Country</strong></label>

                    </div>
                    <div class="col-md-6 mb-3" style="overflow:auto;">

                        <label for="showEasing" style="width:100%;font-weight: normal!important">@Model.Country</label>

                    </div>

                </div>
                <div class="form-row" style="margin-bottom: -10px;">
                    <div class="col-md-4 mb-3" style="padding-left:5px;">

                        <label for="showEasing"><strong>Postal Code</strong></label>

                    </div>
                    <div class="col-md-6 mb-3" style="overflow:auto;">

                        <label for="showEasing" style="width:100%;font-weight: normal!important">@Model.PostalCode</label>

                    </div>

                </div>
                @if (@Model.IsPassword == false)
                {
                    <form action="/Admin/GeneratePassword" id="GP" method="post">
                        <input type="hidden" name="ClientId" value="@Model.UserId" />
                        <input type="hidden" name="Email" value="@Model.Email" />
                        <input type="hidden" name="FirstName" value="@Model.FirstName" />
                        <input type="hidden" name="LastName" value="@Model.LastName" />
                        <input type="hidden" name="MobileNo" value="@Model.MobileNo" />
                        <div class="col-md-6">
                            <button type="submit" class="btn btn-block btn-outline-primary" style="padding-left: 0px;">Generate Credential</button>
                        </div>
                    </form>
                }
                else
                {
                    <div class="form-row col-md-6">
                        <button type="button" class="btn btn-block btn-outline-primary" style="padding-left: 0px;" data-toggle="modal" data-target="#modal-default">
                            View Credential
                        </button>
                    </div>
                }
            </div>
        </div>

    </div>
</section>

<section class="content header">
    <div class="card">
        <div class="card-header card_color" style="padding-top: 1px;padding-bottom: 1px;">
            <div class="col-md-12">
                <div class="col-md-6">
                    <h3 class="card-title" style="color: white;padding-top:10px;padding-bottom: 10px;">Document Information</h3>

                </div>

            </div>
        </div>
        @using (Html.BeginForm("savedocuments", "Admin", FormMethod.Post, new { enctype = "multipart/form-data", @id = "Savedocument" }))
        {

            <input type="hidden" value="@Model.UserId" name="UserId" />
            <div class="col-md-12 row" style="padding-top:10px;">
                <div class="form-group col-md-4">
                    <input type="text" id="name" name="PersonName" placeholder="Person Name" class="form-control">
                </div>
                <div class="col-md-4">
                    <select class="form-control custom-select" name="DocumentType" id="DocumentType" onchange="ShowOther()">
                        <option>Document Type</option>
                        <option>Notice Of Assessment</option>
                        <option>T1 General</option>
                        <option>T4's</option>
                        <option>T4 Summary</option>
                        <option>T5</option>
                        <option>Financials</option>
                        <option>T2</option>
                        <option>T2 Notice of Assessment</option>
                        <option>Paystubs</option>
                        <option>Schedule 100-125</option>
                        <option>PD7 A</option>
                        <option>Job letter</option>
                        <option>GST</option>
                        <option>Company Incorporation Papers</option>
                        <option>Other</option>

                    </select>
                </div>

                <div class="col-md-4">

                    <select class="form-control custom-select" name="year">
                        <option selected="" disabled="">Select Year</option>
                        <option>2011</option>
                        <option>2012</option>
                        <option>2013</option>
                        <option>2014</option>
                        <option>2015</option>
                        <option>2016</option>
                        <option>2017</option>
                        <option>2018</option>
                        <option>2019</option>
                        <option>2020</option>
                        <option>2021</option>
                        <option>2022</option>
                        <option>2023</option>
                        <option>2024</option>
                        <option>2025</option>
                        <option>2026</option>
                        <option>2027</option>
                        <option>2028</option>
                        <option>2029</option>
                        <option>2030</option>
                    </select>

                </div>
            </div>
            <div class="col-md-12 row">
                <div class="col-md-4 ">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="custom-file">
                                <input type="file" class="custom-file-input" id="exampleInputFile" placeholder="Choose file" name="UploadFile">
                                <label class="custom-file-label" for="exampleInputFile"></label>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-md-4 " id="Show-OtherDocuments" style="display:none;">
                    <div class="form-group">
                        <div class="input-group">
                            <div class="custom-file">
                                <input type="text" id="OtherDocuments" name="OtherDocuments" placeholder="Other Documents" class="form-control">
                           
                            </div>

                        </div>
                    </div>
                </div>
                <div class="custom-file col-md-1">
                    <button type="submit" class="btn btn-block btn-outline-primary">Save</button>
                </div>
            </div>

        }


        @using (Html.BeginForm("client_view", "Admin", FormMethod.Get, new { enctype = "multipart/form-data" }))
        {
            <div class="col-md-12 row" style="margin-bottom:12px">
                <div class="col-md-3">
                    @Html.DropDownListFor(model => model.PersonName, PersonName, new { @class = "form-control" })
                </div>
                <div class="col-md-3">
                    <input type="hidden" name="ClientId" value="@ViewBag.ClientId" />
                    <select name="DocumentType" id="Document" class="form-control custom-control">
                        <option>Document Type</option>
                        <option>Notice Of Assessment</option>
                        <option>T1 General</option>
                        <option>T4's</option>
                        <option>T4 Summary</option>
                        <option>T5</option>
                        <option>Financials</option>
                        <option>T2</option>
                        <option>T2 Notice of Assessment</option>
                        <option>Paystubs</option>
                        <option>Schedule 100-125</option>
                        <option>PD7 A</option>
                        <option>Job letter</option>
                        <option>GST</option>
                        <option>Company Incorporation Papers</option>
                    </select>
                </div>
                <div class="col-md-3">
                    <select name="Year" id="year" class="form-control custom-control">
                        <option>Select Year</option>
                        <option>2011</option>
                        <option>2012</option>
                        <option>2013</option>
                        <option>2014</option>
                        <option>2015</option>
                        <option>2016</option>
                        <option>2017</option>
                        <option>2018</option>
                        <option>2019</option>
                        <option>2020</option>
                        <option>2021</option>
                        <option>2022</option>
                        <option>2023</option>
                        <option>2024</option>
                        <option>2025</option>
                        <option>2026</option>
                        <option>2027</option>
                        <option>2028</option>
                        <option>2029</option>
                        <option>2030</option>
                    </select>
                </div>
                <div class="col-md-2 custom-file">
                    <button type="submit" class="btn btn-block btn-outline-primary">Search</button>
                </div>
            </div>
        }

        <div class="card-body" style="padding:0px;">
            <div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap4">
                <div class="col-sm-12" style="overflow-x:auto;">
                    <table id="example1" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info">
                        <thead>
                            <tr role="row" class="table-color">
                                <th>Operation</th>
                                <th>Person Name</th>
                                <th>Document Name</th>
                                <th>Document Type</th>
                                <th>Other</th>
                                <th>Year</th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var item in ViewBag.TotalDocument)
                            {
                                <tr>
                                    <td>
                                        <a href="~/Documents/@item.DocumentName.@item.Discription"><span class="info-box-icon"><i class="fa fa-eye"></i></span></a>
                                        <a href="/Admin/DownloadFile?FileName=@item.DocumentName.@item.Discription" target="_blank"><span class="info-box-icon"><i class="fas fa-cloud-download-alt"></i></span></a>
                                    </td>
                                    <td>@item.PersonName</td>
                                    <td>@item.DocumentName</td>
                                    <td>@item.DocumentType</td>
                                    <td>@item.Other</td>
                                    <td>@item.Year</td>
                                </tr>
                            }

                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>


</section>
@*<-----Model------>*@
<div class="modal fade" id="modal-default">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Credential Info</h4>

                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="">
                    <label>UserName :</label>
                    <label style="font-weight:400;">@Model.UserName</label>
                </div>
                <div class="">
                    <label>Password:</label>
                    <label style="font-weight:400;">@Model.Password</label>
                </div>
            </div>
            <div class="modal-footer justify-content-between">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>
<script src="~/Content/plugins/jquery/jquery.min.js"></script>
<link href="~/Content/css/AdminStyle.css" rel="stylesheet" />

<script src="~/Content/plugins/bs-custom-file-input/bs-custom-file-input.min.js"></script>
<script src="~/Content/plugins/jquery-validation/jquery.validate.min.js"></script>
<script type="text/javascript">
    $(function () {
        $("#example1").DataTable();
    });

    $(document).ready(function () {
        bsCustomFileInput.init();
    });
</script>
<script>
    function GeneratePassword(UserId, Email, FirstName, MobileNo) {
        $.ajax({
            type: "POST",
            url: '/Admin/GeneratePassword',
            data: {
                UserId: UserId,
                Email: Email,
                FirstName: FirstName,
                MobileNo: MobileNo,
            },
            success: function () {

            }

        });
        return false;
    }
</script>

<script type="text/javascript">

    $('#Savedocument').validate({
        rules: {
            PersonName: {
                required: true,
            },
            UploadFile: {
                required: true,
            }

        },
        messages: {
            PersonName: {
                required: "Please enter a Person  Name. ",
            },
            UploadFile: {
                required: "Please Select a File.",
            },


        },
        errorElement: 'span',
        errorPlacement: function (error, element) {
            error.addClass('invalid-feedback');
            element.closest('.form-group').append(error);
        },
        highlight: function (element, errorClass, validClass) {
            $(element).addClass('is-invalid');
        },
        unhighlight: function (element, errorClass, validClass) {
            $(element).removeClass('is-invalid');
        }
    });
</script>
<script>
    function ShowOther() {
        if ($("#DocumentType").val() == "Other") {
            $("#Show-OtherDocuments").fadeIn();
        }
        else {
            $("#Show-OtherDocuments").fadeOut();
        }
    }
</script>