@inherits System.Web.Mvc.WebViewPage<IEnumerable<dynamic>>

@{
    ViewBag.Title = "requested_document";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<style>
    .table-color {
        color: white;
        background-color: #007bff;
    }
</style>
<section class="content header">

    <!-- Default box -->
    <div class="card">
        <div class="card-header card_color" style="padding-top: 1px;padding-bottom: 1px;">
            <div class="col-md-12">
                <div class="col-md-6">
                    <h3 class="card-title" style="color: white;padding-top:10px;padding-bottom: 10px;">Document Information</h3>

                </div>

            </div>
        </div>
        @*@if (!string.IsNullOrEmpty(ViewBag.ApproveSuccess))
        {
            <h3>@ViewBag.ApproveSuccess</h3>
        }
        @if (!string.IsNullOrEmpty(ViewBag.ApproveError))
        {
            <h3>@ViewBag.ApproveError</h3>
        }*@

        <div class="card-body" style="">
            <div id="example1_wrapper" class="dataTables_wrapper dt-bootstrap4">
                <div class="col-sm-12" style="overflow-x:auto;">
                    <table id="example1" class="table table-bordered table-striped dataTable" role="grid" aria-describedby="example1_info">
                        <thead>
                            <tr role="row" class="table-color">
                                <th>Operations</th>
                                <th>Document Type</th>
                                <th>Other</th>
                                <th>Person Name</th>
                                <th>Year</th>
                                <th>Requested By</th>
                            </tr>
                        </thead>

                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>
                                        @*<a href="@Url.Action("","")"><span class="info-box-icon"><i class="fa fa-eye"></i></span></a>*@
                                        @if (item.IsApprooved == false && item.IsDeclined == false)
                                        {
                                            <button type="button" class="btn btn-outline-primary" style="" data-toggle="modal" data-target="#modal-Approval">
                                                Approve
                                            </button>
                                            <button type="button" class="btn btn-outline-primary" style="" data-toggle="modal" data-target="#modal-Decline">
                                                Deny
                                            </button>
                                            @*<a href="@Url.Action("approve_document","admin",new { requestedDocumentId = item.RequestDocumentId})"><span class="btn btn-outline-primary">Approve</span></a>
                                            <a href="@Url.Action("deny_document","admin",new { requestedDocumentId = item.RequestDocumentId})"><span class="btn btn-outline-primary">Deny</span></a>*@

                                        }
                                        @if (item.IsApprooved == true)
                                        {
                                            <a href="@Url.Action("add_document","admin",new { requestedDocumentId = item.RequestDocumentId,clientName=item.RequestedBy})"><span class="btn btn-outline-primary">Add Document</span></a>
                                        }

                                    </td>
                                    <td>@item.DocumentType</td>
                                    <td>@item.Other</td>
                                    <td>@item.PersonName</td>
                                    <td>@item.Year</td>
                                    <td>@item.RequestedBy</td>
                                </tr>
                                <div class="modal fade" id="modal-Approval">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title">Approval Message</h4>

                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            @using (Html.BeginForm("approve_document", "Admin", FormMethod.Post, new { enctype = "multipart/form-data", @id = "ApprooveDocument" }))
                                            {
                                                <div class="modal-body">
                                                    <div class="">
                                                        <label>Client Name :</label>
                                                        <label style="font-weight:400;">@item.RequestedBy</label>
                                                        <input type="hidden" id="hdfRequestedDocumentId" name="requestedDocumentId" value="@item.RequestDocumentId" />
                                                    </div>
                                                    <div class="">
                                                        <label>Message: </label>
                                                        <textarea type="text" id="txtMessage" name="Message" rows="5" placeholder="Document Approval Message" class="form-control" required></textarea>
                                                    </div>
                                                </div>
                                                <div class="modal-footer justify-content-between">
                                                    <button type="submit" class="btn btn-block btn-outline-primary col-md-2">Submit</button>
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

                                                </div>
                                            }

                                        </div>
                                        <!-- /.modal-content -->
                                    </div>
                                    <!-- /.modal-dialog -->
                                </div>
                                <div class="modal fade" id="modal-Decline">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h4 class="modal-title">Decline Reason</h4>

                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                    <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            @using (Html.BeginForm("deny_document", "Admin", FormMethod.Post, new { enctype = "multipart/form-data", @id = "DenyDocument" }))
                                            {
                                                <div class="modal-body">
                                                    <div class="">
                                                        <label>Client Name :</label>
                                                        <label style="font-weight:400;">@item.RequestedBy</label>
                                                        <input type="hidden" id="hdfRequestedDocumentId" name="requestedDocumentId" value="@item.RequestDocumentId" />
                                                    </div>
                                                    <div class="">
                                                        <label>Reason: </label>
                                                        <textarea type="text" id="txtMReason" name="Reason" rows="5" placeholder="Document Decline Reason" class="form-control" required></textarea>
                                                    </div>
                                                </div>
                                                <div class="modal-footer justify-content-between">
                                                    <button type="submit" class="btn btn-block btn-outline-primary col-md-2">Submit</button>
                                                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>

                                                </div>
                                            }

                                        </div>
                                        <!-- /.modal-content -->
                                    </div>
                                    <!-- /.modal-dialog -->
                                </div>

                            }

                        </tbody>

                    </table>
                </div>
            </div>
        </div>
    </div>


</section>


<script src="~/Content/plugins/jquery/jquery.min.js"></script>
<link href="~/Content/css/AdminStyle.css" rel="stylesheet" />
<script type="text/javascript">
    $(function () {
        $("#example1").DataTable();
    });


</script>
